body {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#container
{
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    /*margin: 10px;*/
    /*padding-bottom:40px;*/
    /*overflow:hidden;*/
}

#left {
    /*padding-right: 10px;*/
    height: 100%;
    width: 60%;   /* das hat keinen Einfluss */
    /*float: left;*/
    /*display:inline-block;*/
    /*overflow:hidden;*/
}

#right {
    /*margin-left: 10px;*/
    height: 100%;
    width: 40%;   /* das hat keinen Einfluss */
    /*float: left;*/
    /*display:inline-block;*/
    /*overflow:hidden;*/
}

#canvas-container, #explanationText {
     margin: 1em;
     padding: 1em;
}

.ui-widget {
    font-size: 12px !important;
}

.pui-accordion-content {
    padding: 1em !important;
}

.jxgbox {
    height: 200px;
    width: 100%;

}

.sliders > label {
    font-weight: bold;
}

#control-buttons {
    margin-right: 0;
}
#control-buttons button {
    width: 50%;
    height: 50px;
}

.sliders > input {
    border: 0;
    width: 30px;
}

.graphToolbar {
    padding: 2px;
    /*display: inline-block;*/
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 999;
}

.graphToolbar label > span {
    font-size: 9px;
}

.graphToolbar label.ui-state-active {
    font-weight: bold;
}

.pui-dialog .pui-dialog-titlebar {
    padding: .5em .4em .5em 1em !important;
}

.pui-dialog .pui-dialog-buttonpane {
    text-align: right !important;
    padding: .3em .4em .5em 1em !important;
}
