/**
 * @author Alex Scaliante Coelho / https://github.com/alexscaliante
*/


body {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#text-headline-left {
    font-size: 18px;
    font-weight: bold;
}

#headline-container {
    text-align: center;
    padding-bottom: 20px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#left {
    height: 100%;
    width: 60%;
}

#right {
    height: 100%;
    width: 40%;
}

#canvas-container, #explanationText #headline-container {
     margin: 1em;
     padding: 1em;
}

.ui-widget {
    font-size: 12px !important;
}

.pui-accordion-content {
    padding: 1em !important;
}

.jxgbox {
    height: 200px;
    width: 100%;

}

.sliders > label {
    font-weight: bold;
}


#control-buttons button {
    width: 49%;
    height: 50px;
}
#button-start {
    margin-right: 1%;
}
/* #button-pause { */
/*     margin-right: 1%; */
/* } */


#mode-selector {
    margin-bottom: 20px;
}
#mode-selector > label {
    font-weight: bold;
}

.sliders > input {
    border: 0;
    width: 30px;
}

.graphToolbar {
    padding: 2px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 999;
}

.graphToolbar label > span {
    font-size: 9px;
}

.graphToolbar label.ui-state-active {
    font-weight: bold;
}

.pui-dialog .pui-dialog-titlebar {
    padding: .5em .4em .5em 1em !important;
}

.pui-dialog .pui-dialog-buttonpane {
    text-align: right !important;
    padding: .3em .4em .5em 1em !important;
}
